@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model everest.Areas.Identity.Pages.Account.MyProfile.StoreManager.IndexModel
@{
    ViewData["Title"] = "Store manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{ 
    <link rel="stylesheet" href="@Url.Content("~/css/Account/MyPage/StoreManager/index.css")" />
}


<h1 class="text-center text-info p-5">إدراة المخزن</h1>

<div class="container my-5">
    <div class="row my-md-4 d-flex justify-content-around">

        <div class="col-12 col-md-4 text-center my-4 my-md-0">
            <a class="profile-link" asp-area="Identity" asp-page="/Account/MyProfile/StoreManager/StoreInfo">معلومات المخزن</a>
        </div>
            
        <div class="col-12 col-md-4 text-center my-4 my-md-0">
            <a class="profile-link" asp-area="Identity" asp-page="/Account/MyProfile/StoreManager/AddProduct">إضافة مادة</a>
        </div>

        <div class="col-12 col-md-4 text-center my-4 my-md-0">
            <a class="profile-link" asp-area="Identity" asp-page="/Account/MyProfile/StoreManager/ProductsManager">إدارة مواد المخزن</a>
        </div>

    </div>

    <div class="row my-md-4 d-flex justify-content-around">

        <div class="col-12 col-md-4 text-center my-4 my-md-0">
            <a class="profile-link" href="#">عرض المخزن</a>
        </div>

        <div class="col-12 col-md-4 text-center my-4 my-md-0">
            <a class="profile-link" href="#">البريد الوارد</a>
        </div>

        <div class="col-12 col-md-4 text-center my-4 my-md-0">
            <a class="profile-link" href="#">Exanple</a>
        </div>

    </div>
</div>