@model everest.ModelsView.HomeModelsView


@{
    ViewData["Title"] = "Home Page";
}
@section Style {
    <link rel="stylesheet" href="~/css/index.css" />
}


<div class="bg-info bg-opacity-75">
    <div class="container-fluid d-none d-md-block">
        <div class="row">
            @foreach (var catigory in Model.Catigories)
            {
                <div class="col-md-1 flex-shrink-1"></div>

                <div class="group-section col-md-1">
                    <div class="btn-dropdown">@catigory.CatigoryName</div>
                    <ul class="list-section">
                        @foreach (var sec in catigory.Sections)
                        {
                            <li class="list-item"><a href="#">@sec</a></li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
    <button class="btn btn-primary btn-sidenav d-md-none"><i class="bi bi-justify-left"></i> الأقسام</button>
    <div class="bg-sidenav d-none"></div>
    <div class="sidenav">
        <button type="button" class="btn-close-sidenav btn-close" aria-label="Close"></button>
        <h3>الأقسام</h3>
        <div class="btn-close-sidenav">
            @foreach (var catigory in Model.Catigories)
            {
                <div class="group-section group-section-sidenav">
                    <button class="btn-dropdown">@catigory.CatigoryName</button>
                    <ul class="list-section">
                        @foreach (var sec in catigory.Sections)
                        {
                            <li class="list-item"><a href="#">@sec</a></li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>





<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Scripts {
    <script src="~/js/Index.js"></script>
}