.profile-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    max-width: max-content;
    padding:10px;
    border-radius:12px;
}

.profile-link:hover{
    background-color:aqua;
    color:white;
}